.sss div {
    background-color: green;
    border: solid 1px black;
    height: 20vh;
    margin-bottom: 3px;

}

.num4 {
    width: 30%;
    margin-left: 10px;
    height: 62vh !important;
}


.fff div {
    background-color: green;
    border: solid 1px black;
    height: 28vh;
  
}

.g11{
    height: 86vh !important;
}

.g21 {
    height: 58vh !important;
}

.g23 {
    height: 58vh !important;
}

